@inherits DocumentationComponentBase

<Div @attributes="this.Attributes">
    @if (this.Types?.Count() > 0)
    {
        if (null != this.HeadingTemplate)
        {
            @this.HeadingTemplate
        }

        <ListGroup IsFlush="true">
            @foreach (var t in this.Types)
            {
                var uri = this.UriBuilder.GetTypeUri(this.LibraryKey, t.Member);

                <ListGroupAnchor Url="@uri?.ToString()" OpenInNewTab="@(this.UriBuilder.OpenExternalsInNewTab && uri.IsAbsoluteUri)">
                    <Heading Level="5"><TypeIcon Type="@t.Member" Width="24" />@t.Member.ToDisplayName()</Heading>
                    <Paragraph>
                        <NodeList Nodes="@t.Summary.ChildNodes" />
                    </Paragraph>
                </ListGroupAnchor>
            }
        </ListGroup>
    }
</Div>
